
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(240, 240, 228);
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  z-index: 100;
}


nav {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  font-weight: 700;
  max-width: 400px;
  flex: 1;
  color: #251749;
  cursor: pointer;
  transition: color 0.15s;
  min-width: 180px;
  padding-right: 10%;
}

.nav-bar:hover {
  color: #3d2679;
}


.logo-header {
  width: 150px;
  padding-right: 150px;
  padding-left: 30%;
}
